/* Add CSS styling here */
* {
    box-sizing: border-box;
}

body{
    border: 1px solid black;
    background-color: aqua;
}

img {
    width: 35%;
    height: 35%;
    border: 1px solid black;
}

.main-content {
    border: 1px solid black;
}

#nav-bar{
    border: 1px solid black;
    text-align: center;
}

#nav-bar nav {
    border: 1px solid black;
}

#nav-bar nav a {
    border: 1px solid black;
}

.about {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

#about section {
    
    align-content: center;
    
    margin-bottom: 10px;
    border: 1px solid black;
}

.project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    border: 1px solid black;

}

#project1 {
    border: 1px solid black;
    
}

#project2 {
    border: 1px solid black;
}

#project3 {
    border: 1px solid black;
}

#project4 {
    border: 1px solid black;
}

#project5 {
    border: 1px solid black;
}

#project6 {
    border: 1px solid black;
}

#project7 {
    border: 1px solid black;
}

#project8 {
    border: 1px solid black;
}

footer {
    border: 1px solid black;
    
    align-content: center;
}

footer a {
    border: 1px solid black;
}